<div>
    <h1>Hola, {{name}} {{last_name}}! Bienvenido</h1>

    {{#if isAdmin}}

    {{#each food}}
    <div>
        <p>{{this.name}}</p>
        <p>{{this.price}}</p>
    </div>
    {{/each}}

    {{else}}
    <p>You are not an administrator but welcome</p>
    {{/if}}
</div>